/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.white {
    color: white;
}

/* **** nav bar **** */

.nav {
    width: 35px;
    height: calc(100vh - 70px);
    color: #7d7f84;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-nav,
.bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-nav {
    min-height: 136px;
    overflow-y: hidden;
}

.nav .row-nav {
    width: 100%;
}

.nav .row-nav:not(.bn) {
    cursor: pointer;
}

.nav .row-nav.tp > div {
    width: 22px;
    margin: 6px auto;
}

.nav .text-nav {
    font-size: 12px;
    display: none;
}

.nav .bottom-nav hr {
    width: 80%;
    height: 1px;
    background-color: #7d7f84;
    border: none;
    margin: 0 auto;
}

.nav #logo {
    content: url(../img/logo-small.svg);
}

.nav #home {
    content: url(../img/home.svg);
}

.nav #search {
    content: url(../img/search.svg);  
}

.nav #library {
    content: url(../img/libreria.svg);  
}

.nav #download {
    content: url(../img/download.svg);
    width: 14px;
}

.nav #user {
    content: url(../img/profile.svg);
    width: 20px;
    background-color: #808080;
    border-radius: 50%;
    padding: 0 1px;
}

/* playlist */

.pl {
    display: none;
}

.np {
    width: 100%;
    overflow-y: auto;
}

.top-nav .pl {
    display: none;
}

.row-nav  h4 {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 7px;
    margin-top: 15px;
}

.new-playlist {
    height: 35px;
    line-height: 35px;
    margin-bottom: 7px;
    cursor: pointer;
}

.nw-button {
    width: 35px;
    height: 100%;
    font-size: 35px;
    vertical-align: middle;
    text-align: center;
    color: black;
    background-color: #a3a3a3;
    padding: 0 8px;
    display: inline-block;
}

.text-nw-playlist {
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 6px;
}

.name-playlist {
    font-size: 12px;
    padding: 7px 0;
    cursor: pointer;
}

/* **** header **** */

.container-right {
    width: calc(100% - 35px);
    background-color: #141922;
}

header {
    width: calc(100% - 35px);
    height: 70px;
    background-color: rgb(0 ,5 ,16 , 0.9);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

header .upgrade {
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 8px 22px;
    margin-bottom: 6px;
    margin-right: 4px;
    border: 1px solid white;
    cursor: pointer;
}

/* **** main **** */

.container-main {
    width: 94%;
    margin: 0 auto;
}

main {
    height: calc(100vh - 140px);
    overflow-y: auto;
    margin-top: 70px;
}

/* top main */

.top-main ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3px;
}

.top-main li {
    width: 25%;
    list-style: none;
    padding: 6px 0;
    cursor: pointer;
}

.top-main li a {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #7d7f84;
    position: relative;
}

/* bottom main */

.bottom-main .title-main {
    margin-top: 20px;
    margin-bottom: 15px;
}

.bottom-main .title-main h2 {
    font-size: 15px;
}

.bottom-main span {
    font-size: 10px;
    color: #7d7f84;
}

.bottom-main .content-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-main .box {
    width: 49%;
    margin: 4px 0;
}

.bottom-main .box .img-box {
    position: relative;
    cursor: pointer;
}

.bottom-main .box .img-box img {
    width: 100%;
    display: block;
}

.bottom-main .box .img-box i {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.bottom-main .box .img-box .layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.bottom-main .popular .box .img-box .layover {
    border-radius: 50%;
}

.bottom-main .popular {
    margin-bottom: 160px;
}

.bottom-main .popular .box img {
    border-radius: 50%;
}

.bottom-main .box .text-box {
    text-align: center;
    padding-top: 10px;
}

.bottom-main .box .text-box h3 {
    font-size: 11px;
}

/* **** footer **** */

footer {
    width: 100%;
    height: 70px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.left-footer, .right-footer {
    width: 25%;
    max-width: 180px;
}

/* left footer */

.left-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6px;
}

.img-footer{
    width: 22%;
}

.text-footer {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 5px;
}

.left-footer img {
    width: 100%;
    max-width: 60px;
}

.text-footer h4 {
    font-size: 10px;
}

.text-footer span {
    font-size: 9px;
    color: #7d7f84;
    cursor: pointer;
}

.left-footer .icon-footer {
    width: 15%;
    font-size: 14px;
    color: #7d7f84;
    display: flex;
    flex-direction: column;
}

.left-footer .icon-footer i {
    padding: 2px 0;
    cursor: pointer;
}

/* center footer */

.center-footer {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-center-footer, .bottom-center-footer {
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-center-footer {
    width: 130px;
    padding-top: 10px;
    margin: 0 auto;
}

.top-center-footer i {
    width: 19%;
    font-size: 14px;
    cursor: pointer;
}

.top-center-footer #play {
    width: 24%;
    font-size: 22px;
    margin: 0 6px;
}

.time, .duration {
    width: 20%;
    font-size: 10px;
}

.time-bar {
    width: 100%;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 4px;
    position: relative;
}

.cont-bar {
    width: 56%;
    height: 70%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bs {
    width: 40%;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 2s;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: none;
    transition: left 2s;
}

/* right footer */

.right-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.right-footer .mirror {
    width: 45%;
    display: flex;
}

.right-footer .mirror i {
    width: calc(100% / 3);
    font-size: 10px;
    cursor: pointer;
}

.right-footer .volume-bar {
    width: 100%;
    max-width: 80px;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 4px;
    position: relative;
}

.right-footer .volume-bar .cont-bar {
    width: 50%;
}

.right-footer .volume-bar .bs {
    width: 25%;
}

.right-footer .volume-bar .dot {
    left: 25%;
}

/* effetti hover */

.nav .row-nav:hover span,
.nav .new-playlist:hover .text-nw-playlist,
.nav .name-playlist:hover {
    color: white;
}

.nav .new-playlist:hover .nw-button {
    background-color: white;
}

.row-nav:not(.bn):hover {
    border-left: 2px solid #bcff6b;
}

header .upgrade:hover {
    padding: 12px 26px;
}

.top-main li:hover a {
    color: white;
}

.top-main nav li:hover a::before {
    content : "";
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translate(-50%);
    width: 24px;
    border-bottom: 2px solid #bcff6b;
}

.bottom-main .box .img-box:hover i,
.bottom-main .box .img-box:hover .layover {
    display: block;
}

.text-footer span:hover {
    color: white;
    text-decoration: underline;
}

.left-footer .icon-footer i:hover {
    color: white;
}

.center-footer .top-center-footer #play:hover {
    font-size: 26px;
}

.cont-bar:hover .bs {
    background-color: #bcff6b;
}

.cont-bar:hover .dot {
    display: block;
}

/* effetti active */

.cont-bar:active .bs {
    width: 100%;
}

.cont-bar:active .dot {
    left: 100%;
}

/* small devices */

@media (min-width: 576px) {

    header {
        width: calc(100% - 200px);
    }
    
    .nav {
        width: 200px;
        min-height: 400px;
    }

    .nav .row-nav {
        padding: 0 20px;
    }

    .nav .row-nav.tp {
        display: flex;
        align-items: center;
    }

    .nav .row-nav.tp > div {
        margin: 6px 0;
    }

    .top-nav,
    .bottom-nav {
        align-items: flex-start;
    }

    .top-nav .pl {
        display: block;
    }

    .nav .bottom-nav .row-nav div {
        margin: 8px 8px 8px 0;
    }

    .nav #logo {
        content: url(../img/logo.svg);  
        width: 70%;
        padding: 10px 0;
    }

    .nav .text-nav {
        display: inline;
    }

    .nav .playlist {
        display: block;
    }
    
    .container-right {
        width: calc(100% - 200px);
    }

    .top-main li {
        width: calc(100% / 3);
    }

    .top-center-footer {
        width: 160px;
    }

    .top-center-footer i {
        font-size: 16px;
    }

    .top-center-footer #play {
        font-size: 25px;
    } 

    .center-footer .top-center-footer #play:hover {
        font-size: 28px;
    }

}

/* medium devices */

@media (min-width: 768px) {

    .top-main li {
        width: calc(100% / 5);
    }

    .bottom-main .content-main {
        justify-content: flex-start;
    }

    .bottom-main .box {
        width: 23%;
        margin: 0 1%;
    }

    .left-footer .icon-footer {
        flex-direction: row;
    }

    .left-footer .icon-footer i {
        padding: 0 4px;
    }
}

/* large devices */

@media (min-width: 992px) {

    .top-main li {
        width: 12%;
    }

    .bottom-main .box {
        width: calc(100% / 6 - 1%);
        margin: 0 0.5%;
    }

}


/* debug */

/* .debug .nav {
    background-color: cornflowerblue;
} */

/* .debug .container-right {
    background-color: tomato;
} */

/* .debug header {
    background-color: blue;
    border: 1px solid black;
} */

/* .debug main {
    border: 1px solid black;
}

.debug main .top-main {
    background-color: chartreuse;
}

.debug main .bottom-main {
    background-color: red;
}

.debug main .bottom-main .box {
    height: 200px;
    border: 1px solid black;
} */

/* .debug footer {
    width: 100%;;
    background-color: darkgoldenrod;
}

.debug footer > div {
    border: 1px solid black;
} */