/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

/* **** nav bar **** */

.nav {
    width: 35px;
    height: calc(100vh - 70px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-nav,
.bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav span {
    width: 22px;
    margin: 6px 0;
    
}

.nav .bottom-nav span {
    margin: 8px 0;
}

.nav #logo-small {
    content: url(../img/logo-small.svg);  
}

.nav #home {
    content: url(../img/home.svg);  
}

.nav #search {
    content: url(../img/search.svg);  
}

.nav #library {
    content: url(../img/libreria.svg);  
}

.nav #download {
    content: url(../img/download.svg);
    width: 14px;
}

.nav #user {
    content: url(../img/profile.svg);
    width: 20px;
    background-color: #808080;
    border-radius: 50%;
    padding: 0 1px;
}

/* **** header **** */

.container-right {
    width: calc(100% - 35px);
    margin-top: 70px;
    background-color: #141922;
}

header {
    width: calc(100% - 35px);
    height: 70px;
    background-color: #0d1322;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .upgrade {
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 8px 22px;
    margin-bottom: 6px;
    margin-right: 4px;
    border: 1px solid white;

}

/* **** main **** */

.container-main {
    width: 94%;
    margin: 0 auto;
}

main {
    height: calc(100vh - 140px);
    overflow-y: auto;
}

/* top main */

.top-main ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3px;
}

.top-main li {
    width: 25%;
    list-style: none;
    padding: 6px 0;
}

.top-main li a {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #7d7f84;
}

/* bottom main */

.bottom-main .title-main {
    margin-top: 20px;
    margin-bottom: 15px;
}

.bottom-main .title-main h2 {
    font-size: 15px;
}

.bottom-main span {
    font-size: 10px;
    color: #7d7f84;
}

.bottom-main .content-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-main .box {
    width: 49%;
    margin: 4px 0;
}

.bottom-main .box img {
    width: 100%;
}

.bottom-main .popular .box img {
    border-radius: 50%;
}

.bottom-main .box .text-box {
    text-align: center;
    padding-top: 10px;
}

.bottom-main .box .text-box h3 {
    font-size: 11px;
}

/* **** footer **** */

footer {
    width: 100%;
    height: 70px;
}

/* small devices */

@media (min-width: 576px) {

    header {
        left: 200px;
    }
    
    .nav {
        width: 200px;
    }

    .container-right {
        width: calc(100% - 200px);
        margin-left: 200px;
    }
}

/* medium devices */

@media (min-width: 768px) {


}

/* large devices */

@media (min-width: 992px) {


}

/* extra large devices */

@media (min-width: 1200px) {


}

/* debug */

/* .debug .nav {
    background-color: cornflowerblue;
} */

/* .debug .container-right {
    background-color: tomato;
} */

/* .debug header {
    background-color: blue;
    border: 1px solid black;
} */

/* .debug main {
    border: 1px solid black;
}

.debug main .top-main {
    background-color: chartreuse;
}

.debug main .bottom-main {
    background-color: red;
}

.debug main .bottom-main .box {
    height: 200px;
    border: 1px solid black;
} */

.debug footer {
    background-color: darkgoldenrod;
}